<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <div class="top">
          <input type="search" placeholder="Search"/>
        </div>
        <div>
            <img src="" />
            <p>Name User</p>
        </div>
    </header>

  <section id="root">
    <div th:include="fragments/navbar"/>
