<div th:include="fragments/header"/>

<div layout:fragment="content" class="content">
  <section class="home">
      <h2 class="latest">
          Latest Updates
      </h2>

      <div class="slider">
        <div>
          <figure class="in_destach">
            <img th:src="@{/assets/banner.jpg}" />
          </figure>
        </div>
        <div>
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium massa sit amet elit porta, non placerat tortor tincidunt. Phasellus malesuada volutpat ante sit amet fringilla. Nulla sapien dui, porta et gravida et, placerat scelerisque purus. lacus.</p>
        </div>
      </div>


      <section class="boxes">

        <div class="box-single">
          <figure class="in_destach">
            <img th:src="@{/assets/favicon.ico.png}" />
          </figure>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium massa sit amet elit porta, non placerat tortor tincidunt. Phasellus malesuada volutpat ante sit amet fringilla. Nulla sapien dui, porta et gravida et, placerat scelerisque purus. lacus.</p>
          <div class="box-user">
              <figure>
                <img th:src="@{/assets/favicon.ico.png}" />
              </figure>
              <div>
                <h6> Name</h6>
                <span>Profission</span>
              </div>
          </div>
        </div>


        <div class="box-single">
          <figure class="in_destach">
            <img th:src="@{/assets/favicon.ico.png}" />
          </figure>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium massa sit amet elit porta, non placerat tortor tincidunt. Phasellus malesuada volutpat ante sit amet fringilla. Nulla sapien dui, porta et gravida et, placerat scelerisque purus. lacus.</p>
          <div class="box-user">
              <figure>
                <img th:src="@{/assets/favicon.ico.png}" />
              </figure>
              <div>
                <h6> Name</h6>
                <span>Profission</span>
              </div>
          </div>
        </div>
        <div class="box-single">
          <figure class="in_destach">
            <img th:src="@{/assets/favicon.ico.png}" />
          </figure>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium massa sit amet elit porta, non placerat tortor tincidunt. Phasellus malesuada volutpat ante sit amet fringilla. Nulla sapien dui, porta et gravida et, placerat scelerisque purus. lacus.</p>
          <div class="box-user">
              <figure>
                <img th:src="@{/assets/favicon.ico.png}" />
              </figure>
              <div>
                <h6> Name</h6>
                <span>Profission</span>
              </div>
          </div>
        </div>
        <div class="box-single">
          <figure class="in_destach">
            <img th:src="@{/assets/favicon.ico.png}" />
          </figure>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium massa sit amet elit porta, non placerat tortor tincidunt. Phasellus malesuada volutpat ante sit amet fringilla. Nulla sapien dui, porta et gravida et, placerat scelerisque purus. lacus.</p>
          <div class="box-user">
              <figure>
                <img th:src="@{/assets/favicon.ico.png}" />
              </figure>
              <div>
                <h6> Name</h6>
                <span>Profission</span>
              </div>
          </div>
        </div>
        <div class="box-single">
          <figure class="in_destach">
            <img th:src="@{/assets/favicon.ico.png}" />
          </figure>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium massa sit amet elit porta, non placerat tortor tincidunt. Phasellus malesuada volutpat ante sit amet fringilla. Nulla sapien dui, porta et gravida et, placerat scelerisque purus. lacus.</p>
          <div class="box-user">
              <figure>
                <img th:src="@{/assets/favicon.ico.png}" />
              </figure>
              <div>
                <h6> Name</h6>
                <span>Profission</span>
              </div>
          </div>
        </div>
        <div class="box-single">
          <figure class="in_destach">
            <img th:src="@{/assets/favicon.ico.png}" />
          </figure>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium massa sit amet elit porta, non placerat tortor tincidunt. Phasellus malesuada volutpat ante sit amet fringilla. Nulla sapien dui, porta et gravida et, placerat scelerisque purus. lacus.</p>
          <div class="box-user">
              <figure>
                <img th:src="@{/assets/favicon.ico.png}" />
              </figure>
              <div>
                <h6> Name</h6>
                <span>Profission</span>
              </div>
          </div>
        </div>
         <div class="box-single">
          <figure class="in_destach">
            <img th:src="@{/assets/favicon.ico.png}" />
          </figure>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium massa sit amet elit porta, non placerat tortor tincidunt. Phasellus malesuada volutpat ante sit amet fringilla. Nulla sapien dui, porta et gravida et, placerat scelerisque purus. lacus.</p>
          <div class="box-user">
              <figure>
                <img th:src="@{/assets/favicon.ico.png}" />
              </figure>
              <div>
                <h6> Name</h6>
                <span>Profission</span>
              </div>
          </div>
        </div>

      </section>
  </div>
</section>

<div th:include="fragments/footer"/>